/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display')
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url('img2.jpg') no-repeat center center/cover;
} 
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
}
.container .title{
    font-size: 40px;
    font-weight: 500;
    position: relative;
    color: white;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 12px 0;    
    columns: white; 
    font-weight: 500px;
}
form .user-details .input-box{
    margin-bottom: 30px;
    margin-right: 10px;
    width: calc(100% / 2 - 20px);
    color: white;
}
.user-details .input-box .details{
    display: block;
    font-size: 20px;
    margin-bottom: 7px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid,{
    border-color: #9b59b6
}
::placeholder{
    color: black;
}
form .gender-details{
    font-size: 20px;
    font-weight: 500px;
    color: white;
    margin: 15px;
}

form .button{
    height: 45px;
    margin: 45px 0;   
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, green, black 80%);
}
form .button input:hover{
    background: linear-gradient(-135deg, green, black 80%);
}
a {
    text-decoration-line: underline;
    color: white !important;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
a:visited{
    color: blue;
}